<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<h4><%= icon "file" %> Browse All Articles</h4>
		<% unless @articles.empty? %>
			<%= render 'articles/articles' %>
		<% else %>
			<div style="text-align: center;">Currently there are no articles : (</div>
		<% end %>
		<div class="row"><hr class="col-md-12"></div>
		<div style="text-align: center;"><%= will_paginate @articles %></div>
		<hr class="col-md-12">
	</div>
</div>