<div class="gap-small"></div>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<h3><%= icon "apple" %> Edit Article</h3>
	</div>
</div>

<hr class="col-md-offset-2 col-md-8">

<!-- ckEditor for Edit Article -->
<%= render 'articles/ckeditor_form' %>

<div class="gap-large"></div>