<div class="collapse" id="user-self-intro">
	<div class="row">
		<div class="col-md-offset-1 col-md-10" id="intro-panel">
			<h4><%= icon "user" %> About Me</h4>
			<%= @user.self_intro %>
		</div>
	</div>
	<hr class="col-md-12">
</div>