<!-- Main Navigation -->
<div class="jumbotron welcome-jumbotron">
	<%= render 'common/navbar' %>
</div>

<!-- User Profile -->
<%= render 'common/user_profile' %>

<div class="jumbotron jumbotron-1"></div>

<!-- User Article -->
<%= render 'common/user_articles' %>