<!-- Main Navigation -->
<div class="jumbotron welcome-jumbotron">
	<%= render 'common/navbar' %>
</div>

<!-- User Profile -->
<%= render 'common/user_profile' %>

<div class="jumbotron profile-jumbotron"></div>

<!-- User Article -->
<%= render 'common/user_articles' %>

<div class="jumbotron contact-jumbotron"></div>

<!-- User Contact -->
<%= render 'common/user_contact' %>
