<!-- User Profile -->
<%= render 'common/user_profile' %>

<div class="jumbotron profile-jumbotron"></div>

<!-- User Articles -->
<%= render 'common/user_articles' %>

<div class="jumbotron jumbotron-2"></div>

<!-- User Photos -->
<%= render 'common/user_photos' %>

<!-- 

<div class="jumbotron contact-jumbotron"></div>

<%= render 'common/user_contact' %>
 -->