<div class="gap-small"></div>

<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<h3 class="inline-display"><%= icon "book" %> My Photos</h3>

		<!-- Photo Functional Links -->
		<%= render 'photo_albums/photo_function_links' %>
		<br>
	</div>
</div>

<hr class="col-md-offset-1 col-md-10">

<!-- Photo pinterest Section -->
<%= render 'photos/photo_album_photos_section' %>