<div class="modal fade" id="edit-photo-modal-<%= photo.id %>" tabindex="-1" role="dialog" aria-labelledby="edit-photo-form">
  <div class="modal-dialog" role="document">
  	<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="edit-photo-form-title">Edit Photo Information</h4>
      </div>
      <div class="modal-body row">
        <div class="col-md-offset-1 col-md-10">
          <%= render 'photos/photo_form', photo: photo, photo_album: photo_album %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>