$pure: rgb(255,255,255);
$main-tint-1: rgb(48,114,165);
$main-tint-2: rgb(71,130,175);
$main-tint-3: rgb(94,145,185);
$main-tint-4: rgb(117,161,195);
$main-tint-5: rgb(140,177,205);
$main-tint-6: rgb(163,192,215);
$main-tint-7: rgb(186,208,225);
$main-tint-8: rgb(209,223,235);

body {
	div.account-form {
		.header { 
			text-align: center; 
			margin-bottom: 30px;
		}

		form {
			background-color: $main-tint-6;
			padding: 20px 40px;
			border-radius: 20px;
			input { border-radius: 20px; }

			label { color: $pure;}
			.form-actions {
				margin-top: 20px;
				text-align: center;
				
				input {
					background-color: $main-tint-3;
					color: $pure;
					border: none;
					min-width: 100%;
					padding: 10px 0;
				}

				input:hover {
					background-color: $pure;
					color: $main-tint-3;
					transition: background-color 0.5s, color 0.5s;
				}
			}
		}

		.links {
			margin-top: 20px;
			background-color: #eeeeee;
			padding: 30px;
			border-radius: 20px;
			a {
				color: #999999;
				text-decoration: none;
			}
			a:hover {
				color: $main-tint-4;
			}
		}

	}
}