<div class="gap-large"></div>

<footer>
	<div class="row">
		<div class="col-md-4" style="text-align: right;">
			<h1><%= icon "menu-left" %></h1>
		</div>
		<div class="col-md-4" style="text-align: center;">
			<h4>© 2016 MAXWELL SOME RIGHTS RESERVED</h4>
			<h5>Using <a href="http://getbootstrap.com">Bootstrap</a> components and templates are designed and arranged by Maxwell.</h5>
		</div>
		<div class="col-md-4">
			<h1><%= icon "menu-right" %></h1>
		</div>
	</div>
</footer>

<div class="gap-large"></div>